.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #d6c7a2;
}

.header {
    margin-bottom: 2rem;
    order: 2;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #003049;
}

.tagline {
    font-size: 1.2rem;
    max-width: 600px;
    color: #003049;
}

.navigation-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-button {
    padding: 1.5rem 2.5rem;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 200px;
    color: white;
    background-color: #00008B; ;
}

.button-content h3 {
    margin: 0;
    font-size: 1.3rem;
}

.about-button:hover {
    transform: translateY(-3px);
    background-color: #F77F00;
    color: #00008B;
}

.color-button:hover {
    transform: translateY(-3px);
    color: #ffffff;
}