<section class="home-container">
    <header class="header">
        <h1>{{ config.companyName }}</h1>
        <p class="tagline">{{ config.tagline }}</p>
        <img [src]="config.companyLogo" alt="Company Logo" class="logo">
    </header>
    <div class="navigation-buttons">
        <a 
            routerLink="/about"
            href="http://boise.cs.colostate.edu:4260/about"
            class="nav-button about-button"
            aria-label="Navigate to About Page"
            target="_self"
        >
            <div class="button-content">
                <h3>About Our Team</h3>
            </div>
        </a>
        <a
            routerLink="/color"
            href="http://boise.cs.colostate.edu:4260/color-coordinate"
            class="nav-button color-button"
            aria-label="Navigate to Color Coordinate Generator"
            target="_self"
        >
            <div class="button-content">
                <h3>Color Coordinate</h3>
            </div>
        </a>
    </div>
  </section>